<section class="form-auth text-center">
    <div class="card border-primary mb-3" style="max-width: 50rem; margin: auto;">
        <div class="card-body text-primary text-center">
        
    
<h1>Editing Event</h1>

<%= render 'form', event: @event %>

<%= link_to 'Show', @event %> |
<%= link_to 'Back', events_path %>

</div>
</div>
</section>