<section class=" text-center">
<h1> Your Events </h1>

<section class="form-auth text-center">
        <div class="card border-primary mb-3" style="max-width: 28rem; margin: auto;">
            <div class="card-body text-primary text-center">
                <h1> Looks like you don't have any.. <i class="far fa-frown-open"></i> </h1>
                <div>
                <br>
                <div class="card-footer bg-transparent border-primary"></div>
                <p style="font-size: 14px;"> Why don't you have a look at all the amazing events happening around you</p>
                <%= button_to "View Events", '/events', class: "btn btn-primary" %>
                <br>
                <p style="font-size: 14px"> Don't want to follow the crowd? Create your own event!</p>
                <%= button_to "Create an Event", '/events/new', class: "btn btn-primary" %>
                </div>
            </div>
        </div>
</section>



<% if %>

    

<% else %>

<% end %>



</section>